BUTTON_LAYOUT='close,maximize,minimize:'
BACKGROUND_URI='file:///usr/share/backgrounds/Manhattan_Sunset_by_Giacomo_Ferroni.jpg'
CURSOR_THEME='DMZ-Black'
GTK_THEME='HighContrast'
ICON_THEME='DMZ-Black'
SCREENSAVER_COLOR_SHADING_TYPE='solid'
SCREENSAVER_PICTURE_OPTIONS='zoom'
SCREENSAVER_URI='file:///usr/share/backgrounds/Wall_with_door_on_Gozo_by_Matthias_Niess.jpg'
DOCK_FIXED=false
DOCK_AUTOHIDE=false
DOCK_INTELLIHIDE=false
DOCK_POSITION='BOTTOM'
SHOW_DATE=true
SOUND_THEME='gnome'
EXTENSIONS="['dash-to-dock@micxgx.gmail.com']"
PLYMOUTH=/usr/share/plymouth/themes/default.plymouth
