# Custom your UI settings #

# Window button layout, you can choose from such as "close,maximize,minimize:" or ":minimize,maximize,close", just make ":" at leftmost or rightmost and permutate "minimize", "maximize" and "close" #
BUTTON_LAYOUT=

# Background uri, must be full path and start with "file://" #
#BACKGROUND_URI=file:///usr/share/backgrounds/Ross_Jones_Rockpool_\(Sydney\)_by_Chris_Carignan.jpg
BACKGROUND_URI=

# Cursor theme # 
CURSOR_THEME=

# GTK theme #
GTK_THEME=

# Icon theme #
ICON_THEME=

# Screensaver settings #
SCREENSAVER_COLOR_SHADING_TYPE=
SCREENSAVER_PICTURE_OPTIONS=
SCREENSAVER_URI=

# Dock settings #
DOCK_FIXED=
DOCK_AUTOHIDE=
DOCK_INTELLIHIDE=
DOCK_POSITION=

# Clock #
SHOW_DATE=

# Sound #
SOUND_THEME=

# Shell Extensions # 
EXTENSIONS=

# Plymouth uri #
PLYMOUTH= 
